{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/historial.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<title> Editor </title>

{% endblock %}

{% block content %}

<header class="p-3 d-flex flex-column flex-md-row justify-content-between align-items-center border-bottom">
    <div class="d-flex align-items-center">
        <a href="{% url 'Home' %}"><img src="{% static 'img/logo.png' %}" class="logo me-4" alt=""></a>
        <h5 class="mt-1">SIGMA</h5>
    </div>
    <nav class="d-flex align-items-center">
        <div class="dropdown">
            <a class="d-flex align-items-center text-white text-decoration-none" id="userDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h5 class="text-white me-2">{{user.username}}</h5>
                <img src="{% static 'img/user.png' %}"profile-img" alt="">
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal" href="#">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>        
</header>

<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Cerrar sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas cerrar sesión?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="{% url 'Logout' %}" class="btn btn-danger">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>

<!-- Historial -->
{% for registro in registros %}
<div class="container">
    <div class="row mt-4">
        <!-- Parte superior -->
        <div class="col-md-12 custom-bg text-dark py-2 rounded-top">
            <h4>{{ registro.date }}</h4>
        </div>
    </div>
    <div class="row">
        <!-- Parte inferior -->
        <div class="col-md-8 bg-light p-3 rounded-bottom">
            <p class="message">{{registro.code}}</p>
        </div>
        <div class="col-md-4 bg-light p-3 d-flex justify-content-end rounded-top">
            <a class="btn">
                <i class="fa-solid fa-trash"></i>
            </a>
            <a href="#" class="btnAbrir btn btn-custom ms-2">Abrir</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ea585fb401.js" crossorigin="anonymous"></script>
{% endblock %}