{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

<h1> Cambio de contraseña mediante correo </h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post" action="{% url 'Resetpass' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>
{% endblock %}

{% block script %}

{% endblock %}