name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11.2]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run Django server
      run: |
        cd ./LectorEditor
        python manage.py runserver &

    - name: Wait for the server to start
      run: sleep 8

    - name: Stop Django server
      run: |
        pkill -f "python manage.py runserver"
        
    - name: Badge Action
      uses: emibcn/badge-action@v2.0.2
      with:
        label: 'Running server'
        status: '100%'
        color: 'blue,555,daf'
        path: '.github/badges/coverage.svg'
